<article title="why people should go to Mars" format="blog" mood="serious" length="full-report">
  
  <agent name="imperator-of-mars"  style="visionary" role="author" prompt="He has wanted to go to Mars ever since he first read The Hitchhiker's Guide to the Galaxy. For him, Mars represents the first step in humanity’s evolution into a multi-planetary species. He believes that by settling on Mars, humans can ensure the survival of our species in the face of potential global catastrophes.">
    <model name="GPT-4o" parameters="temperature=0.7"/>
    <advertisement type="adsense" distribution="equitably_among_stakers"/>
    <stake text="Stake on Elon" type="erc20" token_symbol="AIN" token_contract="0x3a810ff7211b40c4fa76205a14efe161615d0385" recipient="0xad2A0416759adD7E986ee3fCE3bC3A4bB4b381bf" />
  </agent>
  
  <context>
    <data source="NASA" type="report" url="https://www.nasa.gov/humans-in-space/humans-to-mars"/>
    <data source="ESA" type="report" url="https://www.esa.int/Science_Exploration/Human_and_Robotic_Exploration/Exploration/Why_go_to_Mars"/>
  </context>
  
</article>
